# 데이터 불러오기

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/dataset_사용 - before_scale.csv')

In [ ]:
data.head()

  district   living_pop      v1      v2      v3  distance
0      종로구  285105.3454  129491  128053   82668  3.144022
1       중구  272446.4978  113067  111759   70839  3.144022
2      용산구  300080.2732  195478  193270  120902  3.144022
3      성동구  357701.7397  248787  246211  154592  3.144022
4      광진구  376624.2459  306303  302910  186804  3.144022

# 데이터 전처리

In [ ]:
data = data.drop(['district'], axis=1) # 자치구 컬럼 삭제

In [ ]:
data = data.drop(['distance'], axis=1) # 거리두기 컬럼 삭제

In [ ]:
data.head()

    living_pop      v1      v2      v3
0  285105.3454  129491  128053   82668
1  272446.4978  113067  111759   70839
2  300080.2732  195478  193270  120902
3  357701.7397  248787  246211  154592
4  376624.2459  306303  302910  186804

# min-max scaler

In [ ]:
from sklearn.preprocessing import MinMaxScaler
# 객체 생성
minmax_scaler = MinMaxScaler()
# 분포 저장
minmax_scaler.fit(data)
# 스케일링
df_minmax_scaled = minmax_scaler.transform(data)

In [ ]:
df_minmax_scaled = pd.DataFrame(df_minmax_scaled)
df_minmax_scaled

           0         1         2         3
0   0.082357  0.037497  0.037638  0.241912
1   0.060367  0.000000  0.000000  0.206892
2   0.108371  0.188151  0.188285  0.355105
3   0.208470  0.309860  0.310575  0.454846
4   0.241341  0.441174  0.441546  0.550211
5   0.228232  0.427019  0.427252  0.556212
6   0.207780  0.515459  0.516268  0.655899
7   0.337314  0.591412  0.591537  0.000000
8   0.106551  0.336264  0.336696  0.510927
9   0.070034  0.367104  0.367751  0.541486
10  0.477603  0.738952  0.738800  0.825621
11  0.353365  0.662969  0.663464  0.771973
12  0.239422  0.349182  0.349876  0.492362
13  0.391413  0.467692  0.467678  0.555516
14  0.264412  0.603095  0.602470  0.687651
15  0.545892  0.860481  0.860868  0.892802
16  0.315023  0.598433  0.598959  0.715486
17  0.000000  0.249505  0.250059  0.424548
18  0.460130  0.556337  0.556731  0.656660
19  0.269218  0.509886  0.510678  0.615926
20  0.440006  0.746224  0.745829  0.777255
21  0.580648  0.506657  0.505566  0.576838
22  1.000000  0.739078  0.736557  0.747741
23  0.892566  1.000000  1.000000  1.000000
24  0.478409  0.629997  0.630016  0.718071

In [ ]:
df_minmax_scaled.min() # 확인

0    0.0
1    0.0
2    0.0
3    0.0
dtype: float64

In [ ]:
df_minmax_scaled.max() # 확인

0    1.0
1    1.0
2    1.0
3    1.0
dtype: float64

In [ ]:
df_minmax_scaled.to_csv('scale_v0.csv', index=False) # 저장